<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathias.helloworld" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-sdk android:minSdkVersion="11"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_web"
        android:logo="@drawable/home"
        android:theme="@style/Base.Widget.AppCompat.ButtonBar"
        >
        <activity
            android:name=".MainActivity"
            android:label="TreasureHunting"
            >
"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="SignUpPage" >
        </activity>

        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mathias.helloworld.MainActivity" />
        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:logo="@drawable/home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mathias.helloworld.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mathias.helloworld.HomeActivity" />
        </activity>

        <!-- Added new api key under here -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDOgc5yYfzYGdg6yXXFbQXRa4T0BC-vfis"/>
    </application>

</manifest>
